<div class="course-wrapper">
    <div class="course-container">
        <table>
            <thead>
                <td class="head">Course Code</td>
                <td class="head">Course Title</td>
                <td class="head">Course Unit</td>
            </thead>
            <tr>
                <td>
                    101
                </td>
                <td>
                    Tech 01
                </td>
                <td>
                    2
                </td>
            </tr>
            <tr>
                <td>
                    102
                </td>
                <td>
                    Tech 102
                </td>
                <td>
                    3
                </td>
            </tr>
        </table>
    </div>
</div>