.signup-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../register/assets/register.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

input{
    margin-bottom:25px;
    width: 450px;
    height: 40px;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    box-shadow: 1px 1px gray;
}

.submit-button{
    background-color: #870A30;
    color: #efefef
}

form{
    background: #fff;
    padding:25px 15px;
    border-radius: 4px;
}
