<div class="hero">
    <nav>
        <ul>
            <a routerLink="/home"><li>Home</li></a>
            <li>About Us</li>
            <a routerLink="/signin"><li class="sign-in">Sign In</li></a>
            <a routerLink="/register"><li>Register</li></a>
        </ul>
    </nav>
    <div class="caption-container">
        <h1 class="primary-caption">
            WELCOME TO <br> PERKSY SECONDARY SCHOOL
        </h1>
        <p class="secondary-caption">...where stars are made to shine</p>
    </div>
</div>